body{
    background-color: rgb(11, 53, 88);
}
.cont{
    background-color: aliceblue;
    margin: auto;
    border-radius: 5px;
    width: 80%;
    height: fit-content;
}
h1{
    padding-left: 2%;
}
.content{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 14pt;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
.navigationItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin: auto;
    font-size: 14pt;
    gap: 5px;
}
.key{
    border-radius: 50%;
    width: 1.2em;
    background-color: rgb(157, 157, 156);
    text-align: center;
}
.choosen{
    background-color: rgb(40, 204, 57);
    color:aliceblue;
}
.activated{
    background-color: rgb(40, 204, 57);
}
button{
    border-radius: 5px;
    width: 10%;
    height: 10%;
    font-size: 14pt;
}
.back{
    margin-left: 2%;
    margin-bottom: 1%;
    color: rgb(25, 169, 40);;
    border-color: rgb(25, 169, 40);
    border: 1px solid;
}
.next{
    margin-left: 1%;
    background-color: rgb(25, 169, 40);
}